{% extends 'base.html' %}
{% block content %}
    <section class="container my-5">
        <div class="row">
            <div class="col-md-7">
                <h2 class="display-5">O <span class="text-danger">
                    mnie
                </span></h2>
                <p class="lead">Nazywam się Sylwia Mandrysz.</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/photo_about.jpeg" class="img-fluid shadow" alt="offer">
            </div>
        </div>
    </section>
{% endblock %}