{% extends 'base.html' %}

{% block content %}
    <section class="container my-5">
        <div class="row">
            <div class="col-md-7">
                <h2 class="display-5">Kontakt
                </h2>
                <ul class="my-5 social-info" id="contact">
                    <li class="my-3">
                        <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                        <span class="lead">sylwia.mandrysz.music@gmail.com</span>
                    </li>
                    <li class="my-3">
                        <i class="fa-solid fa-phone" aria-hidden="true"></i>
                        <span class="lead">+48 508621602</span>
                    </li>
                    <li class="my-3">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                        <span class="lead">@sylwia.mandrysz.music</span>
                    </li>
                    <li class="my-3">
                        <i class="fa-brands fa-square-facebook" aria-hidden="true"></i>
                        <span class="lead">Sylwia Mandrysz - Oprawa Muzyczna Ślubów</span>
                    </li>
                    <li class="my-3">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span class="lead">Rybnik</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <img src="/static/images/photo_contact.jpeg" class="img-fluid shadow" alt="offer">
            </div>
        </div>
    </section>
{% endblock %}