{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid">
        <div class="d-flex bg-img flex-column w-100 justify-content-center">
            <h2 class="display-1 text-center text-black" style="font-weight: bolder;">
                Sylwia Mandrysz
            </h2>
            <h5 class="display-5 text-center text-black" style="font-weight: bolder;">
                Oprawa Muzyczna Ślubów
            </h5>
            <div class="btn text-center">
            <a type="button" class="btn btn-outline-dark w-10 rounded-pill" style="font-weight: bolder;" href="#">Oferta</a>
            </div>
        </div>
    </section>
{% endblock %}