{% extends 'base.html' %}

{% block content %}
    <section class="container my-5" id="offer">
        <div class="row">
            <div class="col-md-7">
                <h3 class="display-5">Oferta <span class="text-primary">
                    Ślubna
                </span></h3>
                <p>Oferuję:</p>
                <li>Śpiew podczas ceremoni kościelnej</li>
                <li>Śpiew podczas pierwszego tańca</li>
            </div>
            <div class="col-md-5">
                <img src="/static/images/photo_offer.jpeg" class="img-fluid shadow" alt="offer">
            </div>
        </div>
    </section>
{% endblock %}