{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid py-2">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/photo_nav.png' %}" id="main-logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'home:home' %}" class="nav-link active">Strona główna</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'home:o-mnie' %}" class="nav-link active">O mnie</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'home:oferta' %}" class="nav-link active">Oferta</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'home:kontakt' %}" class="nav-link active">Kontakt</a>
        </li>
          <div class="container-fluid">
            <a class="navbar-brand" href="https://www.facebook.com/SylwiaSzpiechOfficial/">
            <img src="{% static 'images/logo_facebook.svg' %}" id="social-media" alt="">
            </a>
          </div>
          <div class="container-fluid">
            <a class="navbar-brand" href="https://www.instagram.com/sylwia.mandrysz.music/">
            <img src="{% static 'images/logo_instagram.svg' %}" id="social-media" alt="">
            </a>
          </div>
          <div class="container-fluid">
            <a class="navbar-brand" href="https://www.youtube.com/@sylwia.mandrysz-oprawamuzyczna">
            <img src="{% static 'images/logo_youtube.svg' %}" id="social-media" alt="">
            </a>
          </div>
      </ul>
    </div>
  </div>
</nav>