@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

head {
    font-family: 'Alkatra', alkatra;
}

body {
    font-family: 'Alkatra', alkatra;
}

#main-logo {
    margin-right: 0;
}
#main-logo {
    width: 80px;
}
#social-media {
    width: 15px;
    margin: 5px;
}
@media screen and (min-width:992px) {
    #main-logo {
        width: 150px;
    }
    #social-media {
        width: 30px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }
    .nav-item {
        margin-left: 20px;
    }
    .nav-link {
        white-space: nowrap;
    }
    .ml-auto {
        margin-left: auto;
    }
}

#contact {
    list-style: none;
    padding: 0;
}

ul.social-info > li> i{
    color: #0a53be;
    padding-right: 1rem;
}

body {
    background: #fff;
}

.bg-img {
    background-image:url(/static/images/photo_homepage3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}
