#main-logo{
    margin-right: 0;
}
#main-logo {
    width: 80px;
}
#social-media {
    width: 15px;
    margin: 5px;
}
@media screen and (min-width:992px) {
    #main-logo {
        width: 150px;
    }
    #social-media {
        width: 30px;
    }
    .navbar .container-fluid{
        flex-direction: column;
    }
    .navbar .navbar-nav .nav-item{
        display: inline-block;
    }
    .navbar-nav{
        border-bottom: 2px solid #000;
    }
    .navbar .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
    }
    .navbar-nav .nav-link {
      display: inline-block;
      margin-right: 1em;
      white-space: nowrap;
    }
}

.navbar .navbar-nav .nav-link{
    color: #000;
    font-size: 1.1em;
}
.navbar .navbar-nav{
    border-top: 2px solid #000;
    margin-top: .5em;
}

#contact{
    list-style: none;
    padding: 0;
}

ul.social-info > li> i{
    color: #0a53be;
    padding-right: 1rem;
}

body{
    background: #fff;
}

.bg-img{
    background-image:url(/static/images/photo_homepage2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}
